<%= form_for @user do |f| %>
<ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <%= label(:user, :username, 'Username: ') %>
  <%= f.text_field :username %><br>
  <%= label(:user, :email, 'E-mail: ') %>
  <%= f.email_field :email %> <br>
  <%= label(:user, :password, 'Password: ') %>
  <%= f.password_field :password %><br>
  <%= f.submit %>
<% end %>